main {
    width: 800px;
    margin: 200px auto 72px auto;
    background-color: rgb(255, 157, 171, 0.71);
    padding: 34px;
    border:5px solid rgba(111, 14, 14, 0.45);
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgba(0, 0, 0, 0.3);
}

img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid rgba(111, 14, 14, 0.45);
    margin-top: -143px;
}

h1 {  
    font-family: 'Playfair Display';
    color: black;
}
span {
    color: rgb(81, 15, 122);
}
#today-challange {
    font-family: 'Playfair Display';
    font-weight: bold;
    font-size: 32px;
}
#new-challange {
    font-family: 'Playfair Display';
    font-size: 40px;
}
